p span {
	display: block;

}

p span q {
	font-weight: bold;
	color: 	black;
}

body{
	font-family: 'Manjari', sans-serif;
	font-size: 15px; 
	background-color: #607D8B;
	color: #E0E0E0;
}

.spacing-after{
	padding-bottom: 30px;
}

.spacing{
	line-height: 1.3em;
	word-spacing: 2px;
	padding-bottom: 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section{
	margin-left: 100px;
}


